apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-maven-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-maven-app
  template:
    metadata:
      labels:
        app: java-maven-app
    spec:
      containers:
        - name: java-maven-app
          image: blessedmine/java-maven-app:1c9506eb878414082bb0b7f1d0b34036da9e1ade
          ports:
            - containerPort: 8080