apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-maven-app
  namespace: java-maven-app
  labels:
    app: java-maven-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: java-maven-app
  template:
    metadata:
      labels:
        app: java-maven-app
    spec:
      containers:
        - name: java-maven-app
          image: blessedmine/java-maven-app:dd43f4858bb53b94684217f9cb7ab73c431c0ead
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: 500m
              memory: 500Mi
            requests:
              cpu: 100m
              memory: 200Mi

