name: Java Maven CI/CD

on:
  push:
    branches: [main]
    paths-ignore:
      - 'manifest/**' #ignore changes to manifest files to prevent loop

env:
  IMAGE_NAME: java-maven-app
  JAVA_VERSION: 17
  PERSONAL_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  ARGOCD_SERVER: ${{ secrets.ARGOCD_SERVER }}
  ARGOCD_USERNAME: ${{ secrets.ARGOCD_USERNAME }}
  ARGOCD_PASSWORD: ${{ secrets.ARGOCD_PASSWORD }}
  GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
  GIT_EMAIL: ${{ secrets.GIT_EMAIL }}

jobs:
  build:
    name: Build & Test Java App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B clean package --file pom.xml

      #  Upload JAR as artifact.
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: target/*.jar

  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      #Download the JAR built in the previous job.
      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: java-app
          path: target

      - name: Log in to DockerHub

        run: |
          echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

      - name: Build Docker image

        run: |
          docker build -t $DOCKERHUB_USERNAME/java-maven-app:${{ github.sha }} \
                       -t $DOCKERHUB_USERNAME/java-maven-app:latest .

      - name: Push Docker image
        run: |
          docker push $DOCKERHUB_USERNAME/java-maven-app:${{ github.sha }}
          docker push $DOCKERHUB_USERNAME/java-maven-app:latest

  deploy:
    name: Deploy with ArgoCD
    needs: docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fetch-depth: 0  # get all history of all branches and tags.

      - name: Install Kubectl
        run: |
          curl -O https://s3.us-west-2.amazonaws.com/amazon-eks/1.30.7/2024-12-12/bin/linux/amd64/kubectl
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl

      - name: Install ArgoCD CLI
        run: |
          curl -sSL -o argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv argocd /usr/local/bin/argocd

      - name: Get ArgoCD password
        run: |
          set -x
          password=$(kubectl get secret argocd-initial-admin-secret -n argocd -o jsonpath="{.data.password}" | base64 -d)
          echo "ARGOCD_PASSWORD=$password" >> $GITHUB_ENV

      - name: Login to ArgoCD
        run: |
          argocd login ${{ secrets.ARGOCD_SERVER }} --username admin --password ${{ secrets.ARGOCD_PASSWORD }} --insecure --grpc-web

      - name: Update deployment manifest
        run: |
          git config user.name "$GIT_USERNAME"
          git config user.email "$GIT_EMAIL"
          git fetch origin
          git checkout main
          git pull origin main
          cat manifest/deployment.yaml
          sed -i "s+${DOCKERHUB_USERNAME}/java-maven-app.*+${DOCKERHUB_USERNAME}/java-maven-app:${{ github.sha }}+g" manifest/deployment.yaml
          cat manifest/deployment.yaml

      - name: Commit and Push the deployment file
        run: |
          git config user.name "$GIT_USERNAME"
          git config user.email "$GIT_EMAIL"
          git remote set-url origin https://$GIT_USERNAME:$PERSONAL_ACCESS_TOKEN@github.com/${{ github.repository }}.git
          git fetch origin
          git checkout main
          git pull origin main
          git add manifest/deployment.yaml
          pwd
          git commit -m "Update image to java-maven-app:${{ github.sha }}" || echo "No changes to commit" 
          git push origin main

      - name: sync ArgoCD
        run: argocd app sync java-maven-app